@import "../helpers/helpers.scss";

.breadcrumMain {
	padding-top: var(--headerHeight);
	padding-bottom: 30px;
	@media (max-width: 1200px) {
		padding-top: 60px;
	}
	@media (max-width: 992px) {
		padding-bottom: 30px;
	}
	&.posAbs {
		position: absolute;
		top: var(--headerHeight);
		left: var(--container_left_space);
		padding: 0;
		z-index: 1;
		@media (max-width: 1200px) {
			// top: 90px;
		}
		@media (max-width: 992px) {
			top: 90px;
			padding-top: 20px;
			// background-color: #00000059;
			width: 100%;
			left: 0;
		}

		.breadcrumbFlex {
			ul {
				li {
					color: #fff;
				}
			}
		}
	}
	&.black {
		@media (max-width: 992px) {
			background-color: transparent;
		}
		.breadcrumbFlex {
			ul {
				li {
					color: var(--color_secondary_shade);
				}
			}
		}
	}
	.breadcrumbFlex {
		padding: 5px 0;
		ul {
			padding-left: 0px;
			li {
				display: inline-block;
				color: #1e1e1e;
				position: relative;
				font-size: 14px;
				line-height: calc(18 / 14);
				&:not(:first-child) {
					padding-left: 20px;
				}

				&:not(:first-child):before {
					content: "> ";
					position: absolute;
					display: inline-block;
					left: -6px;
					top: 0;
					padding: 0 5px;
				}
				a {
					color: inherit;
					text-decoration: none;
					padding-right: 15px;
				}
			}
		}
	}
}
