@import "../helpers/helpers.scss";

.main_footer {
	background: radial-gradient(
			92.81% 126.3% at 35.73% 21.3%,
			#2859a9 0%,
			#001934 100%
		)
		/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

	.mainBox {
		padding-top: 50px;
		padding-bottom: 50px;

		.row1 {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 65px;

			@media (max-width: 991px) {
				grid-template-columns: 1fr 1fr;
				gap: 0px;
			}

			@media (max-width: 767px) {
				flex-direction: column;
				align-items: unset;
			}

			.firstLogo {
				display: none;

				@media (max-width: 767px) {
					display: block;
				}
			}

			.firstBreakLine {
				display: none;

				@media (max-width: 767px) {
					display: block;
					margin-top: 30px;
					opacity: 0.2;
				}
			}

			.secondBreakLine {
				display: none;

				@media (max-width: 767px) {
					display: flex;
					margin-top: 20px;
					margin-bottom: 20px;
					opacity: 0.2;
				}
			}

			ul {
				width: 60%;
				list-style: none;
				padding-left: 0px;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				column-gap: 80px;
				row-gap: 10px;

				@media (max-width: 1200px) {
					column-gap: 40px;
				}

				@media (max-width: 991px) {
					grid-template-columns: 1fr 1fr;
				}

				@media (max-width: 767px) {
					align-items: center;
					justify-content: center;
					width: 100%;
					// padding-left: 35px;
					padding-top: 20px;
				}
			}

			.emailBox {
				// width: 40%;
				position: relative;
				.inputField {
					padding: 15px 30px 15px 30px;
					width: 100%;
					border-radius: 100px;
					border: none;
				}

				.inputField::placeholder {
					font-size: 12px;
				}

				.arrowBox {
					width: 40px;
					height: 40px;
					background-color: #2859a9;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					position: absolute;
					top: 3px;
					right: 5px;
					.arrow {
					}
				}
			}
		}

		.row2 {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.left {
				.socialIcons {
					display: flex;
					align-items: center;
					gap: 15px;
					.box1 {
						width: 50px;
						height: 50px;
						background-color: #00783c;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
					}
				}

				.thirdLine {
					display: none;

					@media (max-width: 767px) {
						display: block;
						margin-bottom: 30px;
					}
				}

				.cats {
					display: flex;
					align-items: center;
					gap: 60px;

					@media (max-width: 1024px) {
						gap: 30px;
					}

					p {
						text-decoration: underline;
						text-underline-offset: 8px;

						@media (max-width: 991px) {
							font-size: 12px;
						}

						@media (max-width: 767px) {
							font-size: 11px;
						}
					}
				}
			}

			.right {
				display: flex;
				align-items: end;
				justify-content: end;

				.secondLogo {
					margin: 0 auto;

					@media (max-width: 767px) {
						display: none;
					}
				}
			}
		}
	}

	.fourthLine {
		margin-bottom: 30px;
		opacity: 0.1;

		@media (max-width: 767px) {
		}
	}

	.copyright {
		padding-bottom: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 767px) {
			flex-wrap: wrap;
		}

		p {
			@media (max-width: 991px) {
				font-size: 12px;
			}

			@media (max-width: 767px) {
				font-size: 13px;
				padding-bottom: 10px;
			}
		}
	}

	.box2 {
		display: flex;
		align-items: center;
		gap: 50px;
	}

	.lastLine {
		display: none;

		@media (max-width: 767px) {
			display: block;
		}
	}
}
