@import "../../helpers/helpers.scss";

.btn_primary {
	width: 34px;
	height: 34px;
	background-color: var(--color_secondary);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease-in-out;
	&:hover {
		transform: rotate(-45deg);
		transition: 0.3s ease-in-out;
	}
}

.btn_secondary {
	display: inline-block;
	background-color: transparent;
	.btn_outer_span {
		display: inline-flex;
		align-items: center;
		background-color: #2859a9;
		padding: 0 25px;
		border-radius: 50px;
		.btn_inner_circle {
			width: 20px;
			height: 20px;
			// background-color: var(--color_secondary);
			// border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.3s ease-in-out;
			&:hover {
				// transform: rotate(-45deg) !important;
				transition: 0.3s ease-in-out;
			}
		}
		.btn_inner_text {
			background-color: transparent;
			white-space: nowrap;
			// background-color: var(--color_primary);
			// background-image: linear-gradient(to right, #022578, var(--text_color));
			// padding: 12px 25px 0 12px;
			// text-transform: uppercase;
			letter-spacing: 2px;
			border-radius: 30px;
			position: relative;
			z-index: 1;
			margin: 0px 2px;
			font-family: var(--font_secondary);
		}
		.btn_inner_right {
			opacity: 0;
			transform: translateX(-15px);
			position: relative;
			//z-index: 1;
			width: 0px;
		}
		&:hover {
			background-color: white;
			border: 1px solid #2859a9;
			svg path {
				fill: var(--color_secondary);
			}
			.btn_inner_text {
				padding: 12px 0;
				color: var(--color_secondary);
			}
			.btn_inner_left {
				opacity: 0;
				transform: translateX(15px);
				width: 0;
			}
			.btn_inner_right {
				opacity: 1;
				transform: translateX(0px);
				width: 20px;
			}
		}
	}
	&.white {
		.btn_outer_span {
			button {
				border: 0;
				cursor: pointer;
			}
			.btn_inner_text {
				background-image: unset;
				background-color: transparent;
				// background-color: var(--color_white);
				// border: 1px solid var(--color_primary);
				// color: var(--text_color);
				padding: 12px 0;
				// text-transform: uppercase;
				letter-spacing: 2px;
				border-radius: 30px;
				position: relative;
				z-index: 1;
				margin: 0px 2px;
			}
		}
	}
}
.btn_five {
	display: inline-block;
	border-bottom: 1px solid #1e1e1e;
	.btn_outer_span {
		display: inline-flex;
		align-items: flex-end;
		cursor: pointer;
		.btn_inner_circle {
			width: 15px;
			height: 15px;
			// background-color: var(--color_secondary);
			// border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.3s ease-in-out;
			&:hover {
				// transform: rotate(-45deg) !important;
				transition: 0.3s ease-in-out;
			}
		}
		.btn_inner_text {
			cursor: pointer;
			line-height: 1 !important;
			background-color: transparent;
			// letter-spacing: 2px;
			border: 0;
			position: relative;
			z-index: 1;
			// margin: 0px 2px;
			transform: translateX(-20px);
			transition: all 0.2s ease;
			padding: 0;
		}
		.btn_inner_right {
			opacity: 0;
			transform: translateX(-15px);
			position: relative;
			//z-index: 1;
			width: 20px;
		}
		.btn_inner_left {
			// transform: translateX(-10px);
		}
		&:hover {
			.btn_inner_text {
				transform: translateX(15px);
				transition: all 0.2s ease;
			}
			.btn_inner_left {
				opacity: 0;
				transform: translateX(15px);
				// width: 0;
			}
			.btn_inner_right {
				opacity: 1;
				transform: translateX(0px);
				width: 20px;
			}
		}
	}
	&.white {
		border-bottom: 1px solid #fff;
		.btn_inner_circle {
			img {
				filter: invert(1);
			}
		}
		.btn_inner_text {
			color: #fff !important;
		}
	}
}
button.btn_primary,
button.btn_secondary,
button.btn_five {
	border: none;
}
