@import "../helpers/helpers.scss";
@import "variables.scss";
@import "fontface.scss";
@import "text_bg_color.scss";
@import "typography.scss";
@import "bootstrap3Grids.scss";

body {
	margin: 0;
	@extend .text_reg;
	color: var(--color_light_black);
	font-family: var(--font_secondary);
	background-color: var(--color_seashell);
}

* {
	box-sizing: border-box;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

picture,
video {
	display: block !important;
}

section {
	position: relative;
}

.container-fluid {
	width: 100%;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.container {
	@extend .container-fluid;
	margin: 0 auto;
	width: var(--container_width);
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.text_center {
	text-align: center;
}

.text_uppercase {
	text-transform: uppercase;
}

.text_italic {
	font-style: italic;
}

.section_spacing {
	padding: 10vmin 0;
}

// Classes for fonts
.font_primary {
	font-family: var(--font_primary);
}

.font_secondary {
	font-family: var(--font_secondary);
}

// Css for next/image tags
.next_image {
	display: block !important;
	font-size: 0px;

	span {
		display: block !important;

		* {
			display: block !important;
			max-width: unset !important;
			width: 100% !important;
		}
	}
}

.next_cover_image {
	display: block !important;
	font-size: 0px;

	span {
		display: block !important;
		height: 100% !important;

		* {
			display: block !important;
			height: 100% !important;
			max-width: unset !important;
			width: 100% !important;
		}
	}
}

.objectFitCover {
	img {
		object-fit: cover !important;
	}
}

.section_title {
	@extend .text_xxxl;
	color: var(--color_primary);
	span {
		color: var(--color_secondary_tint);
	}
	&.color_white {
		color: var(--color_white);
	}
}
.header_container {
	width: 100%;
	margin: auto;
	max-width: 1300px;
}

.opacity_80 {
	opacity: 0.8;
}
.opacity_70 {
	opacity: 0.7;
}

.error {
	font-size: 12px;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	color: red;
}
.error_footer {
	color: #000;
}
.swiper-pagination-bullet {
	background: rgba($color: #1e1e1e, $alpha: 0.5) !important;
	opacity: 1 !important;
}
.swiper-pagination-bullet-active {
	background: #1e1e1e !important;
	opacity: 1 !important;
}
[data-scroll] {
	opacity: 0;
	transform: translateY(200px);
	transition: all 0.5s ease;
}

[data-scroll="in"] {
	opacity: 1;
	transform: translateY(0);
	transition: all 0.5s ease;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background: #1e1e1e;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color_white);
	border-radius: 50px;
}
