$browser-prefixes: false !default;

:root {
	// Fonts
	--font_primary: "Poppins", sans-serif;
	--font_secondary: "Poppins", sans-serif;

	// colors
	--color_primary: #00783C;
	--color_primary_tint: #6EB457;
	--color_primary_light: #1F7542;
	--color_pastel_green : #76CD67;
	--color_secondary: #034EA2;
	--color_secondary_tint: #0065B6;
	--color_seashell: #F6EFEA;
	--color_light_gray: #DDDDDD;
	--color_black: #000000;
	--color_white: #ffffff;
	--color_light_black: #1E1E1E;

	// Extras
	--container_width: 100%;
	--container_left_space: calc((100% - var(--container_width)) / 2);
	--transition: ease all 300ms;

	@media (min-width: 768px) and (max-width: 991px) {
		--container_width: 750px;
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		--container_width: 970px;
	}

	@media (min-width: 1200px) {
		--container_width: 1170px;
	}

	// @media (min-width: 1401px) {
	//   --container_width: 1360px;
	// }
}
