@import "../../helpers/helpers.scss";

.CommonQueries {
  .common_queries_flex{
    .title_wrap{
      width: 25%;
      @media (max-width: 991px) {
				width: 100%;
        margin-bottom: 40px;
			}
    }
    .common_queries_faq{
      width: 70%;
      @media (max-width: 991px) {
				width: 100%;
			}
    }
  }
}
