@import "../../helpers/helpers.scss";

.CommonQueries {
	.common_queries_flex {
		.title_wrap {
			width: 25%;

			h2 {
				position: sticky;
				top: 100px;
			}
			@media (max-width: 991px) {
				width: 100%;
				margin-bottom: 40px;
			}
		}
		.common_queries_faq {
			width: 70%;
			@media (max-width: 991px) {
				width: 100%;
			}
		}
	}
	.brochureBg {
		align-items: center;
		border-radius: 10px;
		// background: radial-gradient(
		// 	209.7% 719.82% at 56.86% 415.76%,
		// 	#6eb457 0%,
		// 	#f6efea 51.65%,
		// 	#0072cd 100%
		// );
		padding: 40px 100px;
		margin-top: 80px;
		background-image: url(../../../../public/img/our-products/microfinance/bg_one.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		@media (max-width: 1199px) {
			padding: 40px 30px;
		}
		@media (max-width: 767px) {
			padding: 30px 20px;
		}
		.brochureTxt {
			width: 55%;
			@media (max-width: 767px) {
				width: 100%;
				text-align: center;
				margin-bottom: 20px;
			}
		}
		.brochureBtn {
			width: 40%;
			text-align: right;
			@media (max-width: 767px) {
				width: 100%;
				text-align: center;
			}
		}
	}
}
