@import "../../helpers/helpers.scss";

.SixSteps {
  background: radial-gradient(
		194.31% 263.83% at 103.82% -2.53%,
		#fff 0%,
		#7fca66 28.63%,
		#0072cd 63.19%,
		#f6efea 100%
	);
	.title_wrap {
    width: 60%;
		@media (max-width: 1199px) {
			width: 100%;
		}
	}
  .keyfeatureFlex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    // @media (max-width: 1199px) {
    //   grid-template-columns: repeat(3, 1fr);
    // }
    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .item {
      background-color: var(--color_white);
      padding: 30px 30px;
      border-radius: 10px;
      .circleBox{
      }
      .itemContent {
        h4 {
          width: 75%;
          @media (max-width: 1199px) {
            width: 100%;
          }
        }
      }
    }
  }
  
}
