@import "../helpers/helpers.scss";

.DigitallySvatantra {
	// padding: 60px 0;
	.DigitalFlex {
		// padding-left: calc(var(--container_left_space) + 15);
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(var(--container_left_space) + var(--container_width) - 15px);
		margin-left: auto;
		@media screen and (max-width: 992px) {
			flex-direction: column;
		}
		@media screen and (max-width: 767px) {
			gap: 30px;
		}
		.ContentBx {
			width: 45%;
			transform: translateX(-150%);
			@media screen and (max-width: 1199px) {
				width: 50%;
				padding-right: 10px;
			}
			@media screen and (max-width: 992px) {
				width: 100%;
			}
			.BtnBx {
				padding-top: 30px;
			}
		}
		.ImgBx {
			width: 50%;
			position: relative;
			@media screen and (max-width: 1199px) {
				width: 45%;
			}
			@media screen and (max-width: 992px) {
				width: 100%;
			}
			// width: calc(60% + var(--container_left_space) + 15);
			// img {
			// 	width: 100%;
			// 	@media screen and (max-width: 992px) {
			// 		width: 80%;
			// 		margin-left: auto;
			// 	}
			// }
			.HandImg{
					width: 100%;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					z-index: 3;
					@media screen and (max-width: 992px) {
						width: 80%;
						margin-left: auto;
					}
			}
			.DesignImg{
				position: relative;
				z-index: 1;
			}
		}
	}
}
