@import "../helpers/helpers.scss";

.Homenews {
	position: relative;
	background-color: var(--color_white);
	.mainBox {
		.category {
			display: flex;
			justify-content: space-between;
			.switchBox {
				display: flex;
				align-items: center;
				background-color: #eaeaea;
				border-radius: 100px;
				cursor: pointer;

				.media {
					padding: 8px 40px 5px 40px;
					border-radius: 100px;
				}

				.award {
					padding: 8px 40px 8px 40px;
					border-radius: 100px;
				}

				.active {
					background-color: #00783c;
					color: white;
				}
			}

			.hiddenButton {
				@media (max-width: 767px) {
					display: none;
				}
			}
		}

		.categoryBox {
			display: flex;
			gap: 10px;
			padding-top: 15px;
			.news {
				display: flex;
				align-items: center;
				padding: 4px 18px 4px 18px;
				border-radius: 100px;
				background-color: var(--color_secondary);
				p {
					font-size: 10px;
					color: white;
				}
			}

			.date {
				display: flex;
				align-items: center;
				padding: 4px 18px 4px 0;
				border-radius: 100px;
				background-color: var(--color_white);

				p {
					font-size: 10px;
					color: black;
				}
			}
		}

		.mainImg {
			border-radius: 8px;
			height: 365px;
			object-fit: cover;
			object-position: center;
		}

		.slider {
			display: flex;
			justify-content: space-between;
			gap: 40px;
			cursor: pointer;
			@media (max-width: 991px) {
				flex-direction: column;
			}

			.box1 {
				width: 100%;

				@media (max-width: 911px) {
					width: 96%;
				}
				@media (max-width: 767px) {
					width: 100%;
				}

				.imgBox {
					position: relative;

					.mainImg {
						margin: 0 auto;
						@media (max-width: 991px) {
							width: 100%;
						}
						@media (max-width: 767px) {
							width: 100%;
						}
					}

					.logo {
						position: absolute;
						bottom: 20px;
						right: 20px;
					}
				}
			}

			.box2 {
				// width: 0%;

				@media (max-width: 911px) {
					width: 96%;
				}
				@media (max-width: 767px) {
					width: 100%;
				}

				.imgBox {
					position: relative;

					.mainImg {
						width: 100%;
						object-fit: cover;
						margin: 0 auto;
						@media (max-width: 991px) {
							width: 100%;
						}

						@media (max-width: 767px) {
							width: 95%;
						}
					}

					.logo {
						position: absolute;
						bottom: 15px;
						right: 25px;
					}
				}
			}
		}

		.items {
			display: flex;
			// flex-direction: column;
			align-items: center;
			margin-top: 30px;
		}

		.awardBox {
			// display: grid;
			// grid-template-columns: 1fr 1fr 1fr;
			// column-gap: 30px;

			// @media (max-width: 767px) {
			// 	grid-template-columns: 1fr;
			// 	row-gap: 30px;
			// }

			.box1 {
				width: 370px;
				// height: 350px;
				padding: 0 10px;

				@media (max-width: 1024px) {
					width: 300px;
				}

				@media (max-width: 991px) {
					width: 98%;
				}

				@media (max-width: 767px) {
					width: 100%;
				}

				.logoBox {
					padding: 70px 30px;
					// background-color: var(--color_seashell);
					border-radius: 10px;
					margin-bottom: 30px;
					box-shadow: 0 0px 21px -8px rgba(0, 0, 0, 0.15);

					@media (max-width: 991px) {
						padding: 30px 30px;
					}
				}

				.dateBox {
					width: 150px;
					background-color: #f1f1f1;
					padding: 5px 10px;
					border-radius: 100px;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 15px;
					p {
						font-size: 10px;
						font-weight: 400;
					}
				}

				p {
					@media (max-width: 991px) {
						font-size: 14px;
					}
				}
			}
		}

		:global(.swiper-pagination-progressbar) {
			top: unset;
			width: 85%;
			height: 2px;
			left: 13px;

			@media (max-width: 991px) {
				width: 82%;
			}

			@media (max-width: 767px) {
				width: 65%;
				left: 12px;
			}
		}

		:global(.swiper-pagination-progressbar-fill) {
			background-color: #000000;
		}

		:global(#customNext) {
			padding: 10px;
			border-radius: 50%;
			border: none;
			position: absolute;
			right: 42px;
			background-color: transparent;
			border: 2px solid #dddddd;
			bottom: -35px;
			cursor: pointer;
			@media (max-width: 1024px) {
				right: 20px;
				background-color: transparent;
				border: 2px solid #dddddd;
				bottom: -34px;
			}
		}

		:global(#customPrev) {
			padding: 10px;
			border-radius: 50%;
			border: none;
			position: absolute;
			right: 85px;
			background-color: transparent;
			border: 2px solid #dddddd;
			bottom: -34px;
			cursor: pointer;
			@media (max-width: 1024px) {
				right: 70px;
			}
		}
	}

	.buttonBox {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.gridBx {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px 30px;
		.mainImg {
			margin: 0 auto;
		}
		.awardLogo {
			margin: 0 auto;
		}
		.slider {
			cursor: pointer;
		}
	}
}
