@import "../helpers/helpers.scss";

.JourneySup {
	.mainBox {
		border-radius: 20px;
		background-color: #b8cfe2;
		display: flex;
		padding: 90px 70px;
		overflow: hidden;
		align-items: start;
		// gap: 40px;

		// .stickyYear {
		// 	padding: 100px 0px;
		// }
		.contentBox {
			.box1 {
				position: relative;
				padding: 0px 0px 100px 150px;
				display: flex;
				// align-items: start;
				gap: 100px;
				height: auto;

				.stickyNumberWrapper {
					position: relative;
					top: 80px;
				}

				.number {
					position: relative;
					left: 10px;
					top: -40px;
					font-size: 130px;
					font-family: var(--font_primary);
					color: #0065b6;
				}
				.content {
					position: relative;
					// padding-left: 250px;
					img {
						border-radius: 20px;
					}
				}
			}
		}
	}

	.column {
		display: flex;
		flex-direction: column;
	}

	.year20 {
		position: absolute;
		top: -40px;
		font-size: 130px;
		font-family: var(--font_primary);
		color: black;
		left: -20px;
	}

	.content2 {
		display: flex;
		flex-direction: column;
	}

	.ipadJourneyDiv {
		.mainBoxIpad {
			background-color: #b8cfe2;
			border-radius: 20px;

			.contentIpad {
				padding: 40px 20px;
				img {
					width: 100%;
				}
			}
		}

		.stickyYearMobile {
			position: sticky;
			top: 60px;
			// background-color: #b8cfe2;
			z-index: 10;
			width: 100%;
			border-radius: 20px;
			background: #b8cfe2;
			box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
			backdrop-filter: blur(4px);
			-webkit-backdrop-filter: blur(4px);
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.18);
			@media (max-width: 767px) {
				top: 90px;
			}
		}

		.number {
			font-size: 130px;
			font-family: var(--font_primary);
			color: #0065b6;

			@media (max-width: 767px) {
				font-size: 50px;
			}
		}

		.box {
			padding: 30px 0px;
		}
	}
}
