@import "../helpers/helpers.scss";
.Journey_section{
    .banner_info{
        width: 80%;
        p{
            padding-right: 150px;
        }
    }
    .Journey_box_wrapper{
        padding: 80px 50px;
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
        border-radius: 12px;
        background-image: url(../../../public/img/journey/Journey_bg.jpg);
        .Journey_box{
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid #205491;
            &:last-child{
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .title{
                width: 50%;
                h2{
                    color: #0072CD;
                    font-size: 150px;
                    font-style: normal;
                    font-weight: 600;   
                    line-height: 100px;
                    font-family: var(--font_primary);
                }
                .position_fixed{
                    position: fixed;
                    color: var(--color_black);
                    &.additionalClass{
                        top: inherit;
                        position: inherit;
                    }
                }
                .additionalClassRemove{
                    display: none;
                }
                .color_trans{
                    color: transparent;
                }
            }
            .info_wrapper{
                width: 50%;
                .info{
                    padding-bottom: 40px;
                    &:last-child{
                        padding-bottom: 0;
                    }
                    .image{
                        img{
                            border-radius: 12px;
                        }
                    }
                }
            }
        }
    }
}