@import "../helpers/helpers.scss";

.JourneySup {
	.mainBox {
		border-radius: 20px;
		background-color: #b8cfe2;
		display: flex;
		padding: 90px 70px;
		overflow: hidden;
		.contentBox {
			.box1 {
				position: absolute;
				display: flex;
				align-items: start;
				gap: 100px;
				height: 100vh;
				position: relative;

				.stickyNumberWrapper {
					position: absolute;
					top: 80px;
				}

				.number {
				}
				.content {
					img {
						border-radius: 20px;
					}
				}
			}
		}
	}
}
