@import "../helpers/helpers.scss";
			
.AwardsPage{
  position: relative;
	.events_main {
		.box_wrap {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 20px;
			@media (max-width: 767px) {
				grid-template-columns: repeat(1, 1fr);
			}
			.box_item {
        margin-bottom: 20px;
        .imgBox{
          background-color: var(--color_white);
          border-radius: 8px;
          padding: 40px 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 200px;
          @media (max-width: 991px) {
            height: 150px;
            padding: 35px 50px;
          }
          @media (max-width: 767px) {
            height: 170px;
            padding: 30px 35px;
          }
          img{
            height: 100%;
          }
        }
				.content {
					
				}
			}
		}
	}
}