@import "../helpers/helpers.scss";

.AwardsPage {
	position: relative;
	.events_main {
		.box_wrap {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 20px;
			@media (max-width: 1024px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: 767px) {
				grid-template-columns: repeat(1, 1fr);
			}
			.box_item {
				margin-bottom: 20px;
				.imgBox {
					background-color: var(--color_white);
					border-radius: 8px;
					padding: 15px;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 225px;
					@media (max-width: 991px) {
						height: 150px;
						padding: 35px 50px;
					}
					@media (max-width: 767px) {
						height: 170px;
						padding: 30px 35px;
					}
					img {
						height: 100%;
					}
				}
				.content {
				}
			}
		}
	}
	.btn_secondary {
		display: inline-block;
		cursor: pointer;
		.btn_outer_span {
			display: inline-flex;
			align-items: center;
			background-color: #2859a9;
			padding: 12px 25px;
			border-radius: 50px;
			.btn_inner_circle {
				width: 20px;
				height: 20px;
				// background-color: var(--color_secondary);
				// border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: 0.3s ease-in-out;
				&:hover {
					// transform: rotate(-45deg) !important;
					transition: 0.3s ease-in-out;
				}
			}
			.btn_inner_text {
				background-color: transparent;
				// background-color: var(--color_primary);
				// background-image: linear-gradient(to right, #022578, var(--text_color));
				// padding: 12px 25px 0 12px;
				// text-transform: uppercase;
				letter-spacing: 2px;
				border-radius: 30px;
				position: relative;
				z-index: 1;
				margin: 0px 2px;
				font-family: var(--font_secondary);
			}
			.btn_inner_right {
				opacity: 0;
				transform: translateX(-15px);
				position: relative;
				//z-index: 1;
				width: 0px;
			}
			&:hover {
				// .btn_inner_text {
				// 	padding: 12px 0;
				// }
				.btn_inner_left {
					opacity: 0;
					transform: translateX(15px);
					width: 0;
				}
				.btn_inner_right {
					opacity: 1;
					transform: translateX(0px);
					width: 20px;
				}
			}
		}
		&.white {
			.btn_outer_span {
				button {
					border: 0;
					cursor: pointer;
				}
				.btn_inner_text {
					background-image: unset;
					background-color: transparent;
					// background-color: var(--color_white);
					// border: 1px solid var(--color_primary);
					// color: var(--text_color);
					padding: 12px 0;
					// text-transform: uppercase;
					letter-spacing: 2px;
					border-radius: 30px;
					position: relative;
					z-index: 1;
					margin: 0px 2px;
				}
			}
		}
	}
}
