@import "../helpers/helpers.scss";

.BlogsInsidePage {
	.HeadBx {
		.TitleBx {
			.DetailsStrip {
				display: flex;
				align-items: center;
				gap: 30px;
				padding-bottom: 40px;
				@media (max-width: 767px) {
					align-items: start;
					gap: 15px;
				}
				.Left {
					.DateLink {
						display: flex;
						gap: 10px;
						@media (max-width: 767px) {
							white-space: nowrap;
							// gap: 15px;
							flex-direction: column;
						}

						.ShareBtn {
							a {
								display: flex;
								gap: 15px;
							}
						}
					}
				}
				.socialIcons {
					display: flex;
					align-items: center;
					gap: 15px;

					@media (max-width: 767px) {
						gap: 10px;
					}
					.box1 {
						width: 30px;
						height: 30px;
						background-color: #63b22e;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
						img {
							width: 15px;
						}
					}
				}
			}
		}
	}
}
