@import "../helpers/helpers.scss";

.EventsUdaanPage {
	.contentBox {
		padding: 20px 0px 40px 0px;
		.titleBox {
			display: flex;
			gap: 80px;

			@media (max-width: 767px) {
				flex-direction: column;
				gap: 40px;
			}
			img {
				border-radius: 12px;
			}
		}
	}

	.para {
		padding-right: 200px;

		@media (max-width: 991px) {
			padding-right: 100px;
		}

		@media (max-width: 767px) {
			padding-right: 0px;
		}
	}
}
