@import "../helpers/helpers.scss";

.investors_page {
	.investors_main {
		.title_wrap {
		}
		.table_wrap {
			table {
				width: 100%;
				border-collapse: collapse;
				background-color: var(--color_white);
				border-radius: 12px;
				overflow-y: visible;   
				td,
				th {
					// border-bottom: 1px solid #ddd;
					padding: 20px 20px;
					@media (max-width: 767px) {
						padding: 15px 15px;
					}
				}
				td {
					color: var(--color_light_black);
					font-family: var(--font_secondary);
					font-size: 18px;
					font-weight: 500;
					opacity: 0.8;
					@media (max-width: 767px) {
						font-size: 16px;
					}
					a {
						display: flex;
						align-items: center;
						color: var(--color_secondary);
						img {
							margin-right: 5px;
						}
						span {
							border-bottom: 1px solid var(--color_secondary);
						}
					}
				}
				tr {
					border-bottom: 1px solid #ddd;
					&:last-child {
						border-bottom: none;
					}
				}
				thead {
					background-color: #0072cd;
					color: var(--color_white);
					th {
						text-align: left;
						opacity: 0.8;
						font-size: 18px;
						font-weight: 700;
						font-family: var(--font_secondary);
						&:first-child {
							border-top-left-radius: 10px;
						}
						&:last-child {
							border-top-right-radius: 10px;
						}
					}
				}
			}
		}
	}
	.main_title_btn{
		.title_btn{
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid rgba(30, 30, 30, 0.2);
		}
	}
}


.rating_table {
  width: 100%;
  border-collapse: collapse;

  th {
    background: #8bc34a;
    color: #fff;
    padding: 12px;
    text-align: center;
  }

  td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
}

.sub_category_wrap {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 2px solid #eee;
}


