@import "../../../helpers/helpers.scss";

.contentBox {
	padding: 20px 100px 40px 0px;

	@media (max-width: 1024px) {
		padding: 20px 150px 40px 0px;
	}

	.titleBox {
		display: flex;
		gap: 80px;

		@media (max-width: 767px) {
			flex-direction: column;
			gap: 40px;
		}
		img {
			border-radius: 12px;
		}
	}
}

.para {
	width: 85%;

	@media (max-width: 1199px) {
		width: 100%;
	}
}
