.AccordionSection .accordian_main .activeBgTitle_1 {
  padding: 30px 20px !important;
}
.AccordionSection .accordian_main .activeBgTitle {
  margin-top: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: var(--color_white);
}
.AccordionSection .accordian_main .activeBgContent {
  padding: 0 20px !important;
  margin-bottom: 10px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: var(--color_white);
  height: 100%;
}
.AccordionSection .accordian_main .table_wrap {
  grid-gap: 30px;
}
.AccordionSection .accordian_main .table_wrap .box1 {
  width: 48%;
}
@media (max-width: 991px) {
  .AccordionSection .accordian_main .table_wrap .box1 {
    width: 100%;
  }
}
.AccordionSection .accordian_main .table_wrap .box1 ul {
  padding-left: 20px;
}
.AccordionSection .accordian_main .table_wrap .box1 ul li {
  opacity: 0.8;
  padding-bottom: 10px;
}
.AccordionSection .accordian_main .table_wrap .box1 ul li::marker {
  color: #0072cd;
}
@media (max-width: 767px) {
  .AccordionSection .accordian_main .table_wrap .box1:first-child {
    margin-bottom: 20px;
  }
}
.AccordionSection .filter {
  display: flex;
  align-items: center;
  gap: 30px;
}
.AccordionSection .filter .filterPart {
  display: flex;
  align-items: center;
  gap: 10px;
}

.FiltersBox {
  display: flex;
  gap: 30px;
  padding: 40px 0;
}
@media screen and (max-width: 767px) {
  .FiltersBox {
    flex-direction: column;
    gap: 20px;
  }
}
.FiltersBox .Filter {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .FiltersBox .Filter {
    width: 100%;
    justify-content: space-between;
  }
}
.FiltersBox .Filter .selectBx .select1 {
  border-radius: 24px;
  border: 2px solid #eaeaea;
}
.FiltersBox .Filter p {
  color: var(--color_secondary_shade);
}
.FiltersBox .Filter .custom_select {
  position: relative;
  color: #4e210c;
}
.FiltersBox .Filter .custom_select .select_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 65px 10px 25px;
  background-color: rgb(239, 228, 220);
  border: 2px solid #eaeaea;
  border-radius: 24px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.FiltersBox .Filter .custom_select .select_header:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.FiltersBox .Filter .custom_select .select_header .selected {
  display: flex;
  align-items: center;
}
.FiltersBox .Filter .custom_select .select_header .selected :global(.text_reg) {
  line-height: 1;
}
.FiltersBox .Filter .custom_select .select_header .header_icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.FiltersBox .Filter .custom_select .select_header .arrow {
  position: absolute;
  right: 30px;
  pointer-events: none;
  width: 15px;
  height: 15px;
}
.FiltersBox .Filter .custom_select .select_options {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background-color: #f6f6f6;
  border: 2px solid #eaeaea;
  padding: 20px 0px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow: hidden;
  padding-inline-start: 0;
}
.FiltersBox .Filter .custom_select .select_options .select_option {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0.7;
  transition: background-color 0.3s ease;
}
.FiltersBox .Filter .custom_select .select_options .select_option:hover {
  opacity: 1;
}
.FiltersBox .Filter .custom_select .select_options .select_option.selected {
  display: flex;
  align-items: center;
  font-weight: bold;
  opacity: 1;
}
.FiltersBox .Filter .custom_select .select_options .select_option.selected :global(.text_reg) {
  line-height: 1;
}
.FiltersBox .Filter .custom_select .select_options .select_option .option_icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}/*# sourceMappingURL=AccordionSection.module.css.map */