@import "../../../helpers/helpers.scss";

.join {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../../../../../public/img/careers/join_bg.jpg);
	.join_section {
		.join_info {
			width: 60%;
			padding-right: 100px;
			@media (max-width: 992px) {
				width: 100%;
				padding-right: 0;
			}
		}
		.join_img {
			width: 40%;
			@media (max-width: 992px) {
				width: 100%;
				margin-top: 40px;
			}
			img {
				border-radius: 12px;
			}
		}
	}

	.BtnBx {
		display: flex;
		gap: 20px;
		align-items: center;
	}
}
